/*-------------------------------------------------------Font------------------------------------------------------------*/ 
@font-face {
    font-family: 'Montserrat';
    src:url('./web_fonts/Montserrat-Regular.ttf') format('truetype');
    src:url('./web_fonts/Montserrat-Bold.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Devonshire';
    src:url('./web_fonts/Devonshire-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Allan';
    src:url('./web_fonts/Allan-Regular.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Notoserif';
    src:url('./web_fonts/Notoserif-Bold.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Itim';
    src:url('./web_fonts/Itim-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Martel';
    src:url('./web_fonts/Martel-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CroissantOne';
    src:url('./web_fonts/CroissantOne-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DancingScript';
    src:url('./web_fonts/DancingScript-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kalam';
    src:url('./web_fonts/Kalam-Regular.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaushanScript';
    src:url('./web_fonts/KaushanScript-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
/*-----------------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------------------------------Flexbox-----------------------------------------------------------------*/
body,
.header,
.main_container,
.soon,
.footer,
.navlogo,
.btn_foot, 
.btn_soon,
.pic_top,
.pic_bottom,
.text-base,
.text-hover,
.mentions_title,
.mentions,
.container-dots,
img,
span, 
.menulapalette,
.menulechic,
.menuledelice,
.menulanote,
.prelude_contain,
.pointdorgue_contain,
.mouvmtfinal_contain,
.psmeap_contain,
.gourm-sucre_contain,
.pbc_contain,
.pdp_contain,
.pbct_contain,
.pbt_contain,
.oeuvredm_contain,
.esquisse_contain,
.sommetdelart_contain,
.price_prelude,
.price_psmeap,
.price_pdp,
.price_pointdorgue,
.price_pbc,
.price_pbct,
.price_pbt,
.price_esquisse,
.price_oeuvredm,
.price_sommetdelart,
.flex_prelude,
.flex_pointdorgue,
.flex_pdp,
.flex_psmeap,
.flex_pbc,
.flex_pbct,
.flex_pbt,
.flex_esquisse,
.flex_oeuvredm,
.flex_sommetdelart,
.title_prelude,
.title_pointdorgue,
.title_mouvmtfinal,
.title_esquisse,
.scale_mne,
.scale_mcf,
.scale_mdpp,
.scale_mpdd,
h3,
h1,
.logo_ohmyfood,
.menu_index,
.title_top {
  display: flex;
}
/*-----------------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------------------------------------Header------------------------------------------------------------*/
.navlogo {
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 7px;
  height: 100%;
}
.navlogo h1 {
  margin: 0 auto 0 auto;
}
.header {
     background-color: #579C87 ;
     max-height: 75px;
     width: 900px;     
}
h1 a {
	  color:#FDCB46 ;
    text-decoration: none;
    font-size: 2em;
   	text-align: center;
    justify-content: center;
    width: 100%;
}
/*-----------------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------------------------------Footer-/- Button--------------------------------------------------------*/
.btn_foot {
    background-color: #579C87 ;
    color:#FDCB46 ;
    text-decoration: none; 
}
.footer {
    max-width:900px;
    min-width: 375px;
    width: 100%;
    background-color:#579C87;
    padding: 20px 0px 20px 0px;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}
.btn_soon {
    padding : 10px 30px 10px 30px;
    background-color: #579C87;
    color: #FDCB46; 
    border-radius: 20px; 
    margin-top: 50px;
    max-width: 455px;
    min-width: 250px;
    height:50px; 
}
.soon {
    justify-content: center; 
}
.btn_soon,
.text-hover,
.text-base,
.container-dots {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-hover {
  text-align: center;
  margin: auto;
}
.container-dots span {
  padding-top: 2px;
  font-size: 1.5em;
}
/*----------------------------------------------------------------------------------------------*/ 
/*-----------------------------------Anim Footer/BTN_SOON---------------------------------------*/
/*Transition btn "prochainement"--> "..."*/
.text-base{
   opacity:1;
   justify-content: center;
}
.text-hover{
   display:none;
   width: 100%;
   height: 50px;
   justify-content: center;
}
.btn_soon:hover .text-hover {
    display:block;
}
.btn_soon:hover .text-base {
    display:none;
}
@keyframes bounce {
  50%  { transform: translateY(10px);  }
  100% { transform: translateY(0px);     }
}
.dot1{
  animation: bounce 1s ease;
  animation-iteration-count: infinite;
}
.dot2{
  animation: bounce 1s ease;
  animation-iteration-count: infinite;
  animation-delay: 0.15s;
}
.dot3{
  animation: bounce 1s ease;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
/*Transition btn footer*/
@keyframes wiggle {
  20%  { transform: translateX(15px);  }
  40%  { transform: translateX(-15px); }
  60%  { transform: translateX(10px);  }
  80%  { transform: translateX(-10px); }
  100% { transform: translateX(0);     }
}
.btn_foot:hover {
  animation: wiggle 0.2s ease;
  animation-iteration-count: 1;
}
/*-------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------------------------------Index--------------------------------------------------------*/
html {
	font-size: 100%;
}
body {
    font-family: "Montserrat";
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    min-width: 375px;
    margin: auto;
    }
.main_container {
  flex-direction: column;
  max-width: 900px;
  min-width: 375px;
  padding-bottom: 150px;
  width: 100%;
}
/*-------------Menus-----------*/
.main_container .pic_top {
	padding-top: 40px;
  justify-content: space-around;
  width: 100%;
}
.main_container .pic_bottom {
	padding-top: 40px;
  justify-content: space-around;
  width: 100%;
}
.pic_top, .pic_bottom {
  width: 100%;
}
.scale_mne, .scale_mcf, .scale_mdpp, .scale_mpdd{
  margin-left: 10px;
  margin-right: 10px;
  /*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.1) inset;
  border-radius: 10px;*/
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 525px;
  font-size: x-large;
}
.scale_mcf .title_menu_cf {
  font-size:1em;
}
.bg1 {
    background-color: #FCDFDB;
  }
.bg2 {
   background-color: #FFF5FE;
  }
.bg3{
    background-color: #EDEFEF;
 }
.bg4{ 
   background-color: #FDFFFD;
  }
a {
  text-decoration: none;
}
.fas.fa-music {
  background: -webkit-linear-gradient( 0.40turn,#F05160, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .title_menu_ne {
  font-family: Devonshire;
  color: #3D1319;
  text-align: center;
}
.title_menu_cf {
  font-family: CroissantOne;
  background: -webkit-linear-gradient(0.40turn ,#8F5BFE, #C67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.title_menu_ddp {
  font-family: DancingScript;  
  background: -webkit-linear-gradient(0.40turn,#0889FB, #022DDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
 .title_menu_pg {
  font-family: KaushanScript;
  text-align: center;
  background: -webkit-linear-gradient(0.4turn,#BEFF7F, #41963C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scalempdd .title_menu_pg {
  font-size: 1em;
}
.menune{
  font-family: Allan;
  color: #3D1319;
}
.menucf{
  font-family: Notoserif;
  color: #C67412;
}
.menudpp{
  font-family: Allan;
  color: #2F72FF;
}
.menupdg{
  font-family: Allan;
  color: #41963C;
}
h3.menune, h3.menucf, h3.menudpp, h3.menupdg {
  justify-content: center;
  align-items: center;
}
/*...........................................................................................................*/
                                       /*Anim Zoom menu*/
/*...........................................................................................................*/ 
.scale {
  overflow: hidden;
  position: relative;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.1) inset;
  border-radius: 10px;
}
.scale_mne:hover, .scale_mcf:hover, .scale_mdpp:hover, .scale_mpdd:hover  {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.5;
}
/*-------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------Mentions Légales--------------------------------------------------------*/
.mentions {
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  text-align: justify;
}
.mentions_title {
  justify-content: center;
  color:#579C87 ;
}
p {
  margin : 10px 0px 10px 0px;
}
/*-------------------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------Menu---------------------------------------------------------*/
.deco {
  max-width: 200px;
  min-width: 50px;
  width: 100%;
  height: 100%;
}
.pricesmart {
  display: none;
}
.menulanote , .menulapalette, .menulechic, .menuledelice {
  flex-direction: column;
  width: 800px;
   padding: 50px 20px 50px 20px;
  font-size: 1.6em;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.1) inset;
  border-radius: 10px;  
  margin:auto;
  justify-content: center;
}

/*----------------------------------------------------------------------------------------*/ 
/*------------------------------------Animation---Titre-----------------------------------*/
.title {
  color:inherit;
  text-decoration: none;
  background: linear-gradient(to top, rgba(96,96,96,0.5 ) 0%, rgba(96,96,96,0.5) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.title:hover {
  background-size: 100% 100%
}
/*----------------------------------------------------------------------------------------*/ 
.title_top {
  justify-content: center;
}
.menulanote {
  background-color: #FCDFDB;
  color: #3D1319;
   font-family: Itim;
  align-items: center;
}
 .menulechic {
  background-color: #FFF5FE;
  padding: 50px 20px 50px 20px;
  font-family: Martel;
  align-items: center;
}
.menuledelice{
  background-color: #EDEFEF;
  color: black ;
  font-family: Kalam;
  align-items: center;
}
.menulapalette {
  background-color: #FDFFFD;
  color: black ;
  align-items: center;
  font-family: Kalam;
}
.psmeap {
  color: #C77412;
}
.pdp {
  color: #A56799;
}
.gourm-sucre {
  color: #6E4CCC;
}
.contain_menu {
  width: 85%;
}
.menulechic .contain_menu {
  font-size: 0.7em;
}
.menulapalette .contain_menu {
  font-size: 0.9em;
}
.contain_menu .title_menu_pg {
  font-size: 3em;
}
.contain_menu h3 {
  justify-content: space-between; 
  align-items: center;
}
.prelude_contain,
.pointdorgue_contain,
.mouvmtfinal_contain,
.psmeap_contain,
.gourm-sucre_contain,
.pbc_contain,
.pdp_contain,
.pbct_contain,
.pbt_contain,
.oeuvredm_contain,
.esquisse_contain,
.sommetdelart_contain
 {
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
}
.flex_prelude,
.flex_pointdorgue,
.flex_pdp,
.flex_psmeap,
.flex_pbc,
.flex_pbct,
.flex_pbt,
.flex_esquisse,
.flex_oeuvredm,
.flex_sommetdelart{
  justify-content: space-between;
}
.price_prelude,
.price_psmeap,
.price_pdp,
.price_pointdorgue,
.price_pbc,
.price_pbct,
.price_pbt,
.price_esquisse,
.price_oeuvredm,
.price_sommetdelart {
  flex-direction: column;
  text-align: right;
  min-width: 100px;
  max-width: 150px;
}
.prelude_contain .price_prelude {
  justify-content: flex-end;
}
.flex_prelude,
.flex_pointdorgue {
  flex-direction: row;
  justify-content: space-between;
}
.fas.fa-music {
  font-size: 2em;
  background: -webkit-linear-gradient( 0.40turn,#F05160, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ne_final .fas.fa-music {
}
.ne_final {
  padding-top: 30px;
}
.contain_menu .fas.fa-music {
  margin: auto;
  width: 100%;
  text-align: center;
}
.flex_psmeap,
.flex_pdp,
.gourm-sucre_contain,
.flex_pbc,
.flex_pbct,
.flex_pbt,
.flex_esquisse,
.flex_oeuvredm,
.flex_sommetdelart {
  padding-right: 30px;
  padding-left: 30px;
}
.menulapalette .contain_menu,
.menuledelice .contain_menu,
.menulechic .contain_menu {
  width: 95%;
}


