@font-face {
    font-family: 'Montserrat';
    src:url('./web_fonts/Montserrat-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

body,
.header,
.main_container,
.soon,
.footer,
.navlogo,
.btn_foot, 
.btn_soon,
.pic_top,
.pic_bottom,
img
 {
    display: flex;
}

body {
    font-family: "Montserrat";
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    font-size: 2.5em;
}

.pic_top img {
  max-width: 85%;
  justify-content: center;
  margin : 20px 20px 20px 30px;
  border:1px solid #B0BEC5;
  border-radius: 10px;
  
}

.pic_bottom img {
  max-width: 85%;
  justify-content: center;
  margin : 20px 20px 20px 30px;
  border:1px solid #B0BEC5;
  border-radius: 10px;
  
}

.navlogo {
   margin: auto;
   background-position: center;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 15px;
}

.header {
     background-color: #579C87 ;
     max-height: 100px;
}

.btn_foot {
    background-color: #579C87 ;
    color:#FDCB46 ;
    text-decoration: none; 
}

.footer,
.soon {
    justify-content: center; 
}

.footer {
    margin-top: 200px;
    width: 1000px;
    background-color:#579C87;
    padding: 20px 10px 20px 10px;
    justify-content: space-around;
    position: fixed;
    bottom: 0

}

.btn_soon {
    padding : 20px 70px 20px 70px;
    background-color: #579C87;
    color: #FDCB46; 
    border-radius: 20px; 
    margin-top: 50px;
}

.main_container {
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 150px;
}

.pic_bottom { 
  flex-direction: row;
justify-content: space-around; }

.pic_top { 
  flex-direction: row;
justify-content: space-around; }



/*Transition btn "prochainement"--> "..."*/
.text-base{
   opacity:1;
}

.text-hover{
   display:none;
   width: 100%;
   height: 50px;
}
.btn_soon:hover .text-hover {
    display:block;

}
.btn_soon:hover .text-base {
    display:none;
}


/*Animation*/

@keyframes wiggle {
  20%  { transform: translateX(15px);  }
  40%  { transform: translateX(-15px); }
  60%  { transform: translateX(10px);  }
  80%  { transform: translateX(-10px); }
  100% { transform: translateX(0);     }
}

@keyframes bounce{
     from {top: 10px;}
     50%  {top: 2px;}
     to   {top: 10px;}
}
 



/* Anim Footer */
.btn_foot:hover {
  animation: wiggle 0.5s ease;
  animation-iteration-count: 1;
}

/* animation qui fonctionne pas :'( */
.btn_soon:hover span { 
   
  animation: bounce 0.5s ease;
  animation-iteration-count: 10;
}
