@font-face {
    font-family: 'Montserrat';
    src:url('./web_fonts/Montserrat-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pacifico';
    src:url('./web_fonts/Pacifico-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Itim';
    src:url('./web_fonts/Itim-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Martel';
    src:url('./web_fonts/Martel-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Merienda';
    src:url('./web_fonts/Merienda-Regular.ttf') format('truetype');
    src:url('./web_fonts/Merienda-Bold.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GreatVibes';
    src:url('./web_fonts/GreatVibes-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Kalam';
    src:url('./web_fonts/Kalam-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'KaushanScript';
    src:url('./web_fonts/KaushanScript-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}



/*.........................................................................................*/

body,
.header,
.footer,
.btn_foot, 
.menulapalette,
.menulechic,
.menuledelice,
.menulanote,
.navlogo,
.prelude_contain,
.pointdorgue_contain,
.mouvmtfinal_contain,
.psmeap_contain,
.gourm-sucre_contain,
.pbc_contain,
.pdp_contain,
.pbct_contain,
.pbt_contain,
.oeuvredm_contain,
.esquisse_contain,
.sommetdelart_contain,
.price_prelude,
.price_psmeap,
.price_pdp,
.price_pointdorgue,
.price_pbc,
.price_pbct,
.price_pbt,
.price_esquisse,
.price_oeuvredm,
.price_sommetdelart,
.flex_prelude,
.flex_pointdorgue,
.flex_pdp,
.flex_psmeap,
.flex_pbc,
.flex_pbct,
.flex_pbt,
.flex_esquisse,
.flex_oeuvredm,
.flex_sommetdelart,
img,
h3
{
    display: flex;
}


body {
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    
}

h3 img {
  max-width: 250px;
}

h3 {
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
     background-color: #579C87 ;
     max-height: 100px;
}

.navlogo {
   margin: auto;
   background-position: center;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 15px;
}


.btn_foot {
    background-color: #579C87 ;
    color:#FDCB46 ;
    text-decoration: none; 
}

.footer {
	font-family: Montserrat;
    width: 1000px;
    background-color:#579C87;
    padding: 20px 10px 20px 10px;
    justify-content: space-around;
    font-size: 2.5em;
    position: fixed;
    bottom: 0

}





.menulapalette,
.menulechic,
.menuledelice,
.menulanote {
  flex-direction: column;
  max-width: 1000px;
}

.sommetdelart,
.ne_final,
.gourm-sucre,
.pbt {
  margin-bottom: 150px;
}


/*................................................................................................*/
 
/*Animation Footer*/
@keyframes wiggle {
  20%  { transform: translateX(15px);  }
  40%  { transform: translateX(-15px); }
  60%  { transform: translateX(10px);  }
  80%  { transform: translateX(-10px); }
  100% { transform: translateX(0);     }
}

.btn_foot:hover {
  animation: wiggle 0.5s ease;
  animation-iteration-count: 1;
}

/*................................................................................................*/


/* Menu la note enchanté*/

.menulanote {
	background-color: #FCDFDB;
	color: #3D1319;
	padding: 50px 20px 50px 20px;
	font-size: 1.4em;
  font-family: Itim;
}

h2,h3,h4,.fas.fa-music,.ne_final {
  text-align: center;
}

.prelude_contain,
.pointdorgue_contain,
.mouvmtfinal_contain {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
}

.price_prelude,
.price_pointdorgue {
  flex-direction: column;
  text-align: right;
  min-width: 100px;
  max-width: 150px;
  padding-right: 40px;
  
}

.prelude_contain .price_prelude {
  justify-content: flex-end;
}

.flex_prelude,
.flex_pointdorgue {
  flex-direction: row;
  justify-content: space-between;
}

.fas.fa-music {
  font-size: 3em;
  background: -webkit-linear-gradient( 0.40turn,#F05160, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ne_final .fas.fa-music {
  font-size: 2em;
}

.ne_final {
  padding-top: 30px;

}

.title_menu_ne {
  font-family: Pacifico;

}


/*.......................................................................................................*/

/* Menu le Chic */

.title_menu_cf {
  font-family: Merienda;
}

.menulechic {
  background-color: #FFF5FE;
  padding: 50px 20px 50px 20px;
  font-size: 1.5em;
  font-family: Martel;
}

h2,h3 {
  text-align: center;
}

.psmeap_contain,
.pdp_contain,
.gourm-sucre_contain {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
}

.price_psmeap,
.price_pdp
 {
  flex-direction: column;
  text-align: right;
  min-width: 100px;
  max-width: 150px;
  padding-right: 40px;
  
}

.psmeap_contain .price_psmeap {
  justify-content: flex-end;
}

.flex_psmeap,
.flex_pdp {
  flex-direction: row;
  justify-content: space-between;
}

.title_menu_cf {
  font-size: 2.1em;
  background: -webkit-linear-gradient(0.40turn ,#8F5BFE, #C67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.psmeap {
  color: #C77412;
}

.pdp {
  color: #A56799;
}

.gourm-sucre {
  color: #6E4CCC;
}



/*.......................................................................................................*/

/* Menu le Delice */


.menuledelice {
  background-color: #EDEFEF;
  color: black ;
  padding: 50px 20px 50px 20px;
  font-size: 1.5em;
  font-family: Kalam;
}


.pbc_contain,
.pbct_contain,
.pbt_contain {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
}

.price_pbc,
.price_pbct,
.price_pbt {
  flex-direction: column;
  text-align: right;
  min-width: 100px;
  max-width: 150px;
  padding-right: 50px;
  
}

.pbc_contain .price_pbc {
  justify-content: flex-end;
}

.flex_pbc,
.flex_pbct,
.flex_pbt {
  flex-direction: row;
  justify-content: space-between;
}

.title_menu_ddp {
  font-family: GreatVibes;
  font-size: 3em;
  background: -webkit-linear-gradient(0.40turn,#0889FB, #022DDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/*.......................................................................................................*/

/* Menu la Palette */


.menulapalette {
  background-color: #FDFFFD;
  color: black ;
  padding: 50px 20px 50px 20px;
  font-size: 1.5em;
  font-family: Kalam;
}



.esquisse_contain,
.oeuvredm_contain,
.sommetdelart_contain {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.price_esquisse,
.price_oeuvredm,
.price_sommetdelart {
  flex-direction: column;
  text-align: right;
  min-width: 50px;
  max-width: 100px;
  padding-right: 20px;
  
}

.esquisse_contain .price_esquisse,
.oeuvredm_contain .price_oeuvredm,
.sommetdelart_contain .price_sommetdelart {
  justify-content: flex-end;
}

.flex_esquisse,
.flex_oeuvredm,
.flex_sommetdelart {
  flex-direction: row;
  justify-content: space-between;
}

.title_menu_pg {
  font-family: KaushanScript;
  font-size: 3em;
  background: -webkit-linear-gradient(0.4turn,#BEFF7F, #41963C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


